    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="{% url 'sender:home' %}">Email Sender</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link fw-semibold text-white" href="{% url 'sender:send' %}">Send Message</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-semibold text-white" href="{% url 'sender:logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link fw-semibold text-white" aria-current="page" href="{% url 'sender:login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>